html {
	overflow-x: hidden;
}

@font-face {
	font-family: CORINTHIA;
	src: url('../fonts/CORINTHIA.TTF');
}

#site-title {
	text-align: center;
}

#header {
	margin-top: 0;
}

#navigation {
	margin-top: 10px;
	z-index: 2;
	width: 100%; 
}

.header_jk {
	float: left;
	text-align: center;
}

.top-widget-jk-left, .top-widget-jk-right {
	width: 41%;
}

.top-widget-jk-left > div {
	margin-top: 77px;
}

.top-widget-jk-right > div {
	margin-top: 52px;
}


.center-no-widget {
	width: 18%;
}

.phone_header {
	font-family: CORINTHIA;
	font-size: 66px;
	overflow: hidden;
	line-height: 32px;
}

.mini_phone {
	font-size: 40px;
}

a, a:visited {
	color: #3d7d3a;
}

a:hover {
	color: #3d7d3a;
	text-decoration: underline;
}

a:hover {
	color: #3d7d3a;
	text-decoration: underline;
}

.note_header_quiz {
	font-family: Corbel;
	font-size: 14px;
	text-transform: uppercase;
}

.link_header_quiz a, #checkin_from input[type="submit"] {
	background: rgba(61,130,65,1);
	background: -moz-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,130,65,1)), color-stop(100%, rgba(10,76,15,1)));
	background: -webkit-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: -o-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: linear-gradient(to bottom, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8241', endColorstr='#0a4c0f', GradientType=0 );
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	color: white;
	font-family: Corbel;
	font-size: 14px;
	padding: 1px 18px !important;
	border: 5px solid white;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}

#checkin_from input[type="submit"] {
	padding: 6px 18px !important;
}

.link_header_quiz a:hover {
	background: rgba(72,153,76,1);
	background: -moz-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(72,153,76,1)), color-stop(100%, rgba(13,92,18,1)));
	background: -webkit-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: -o-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: -ms-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: linear-gradient(to bottom, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48994c', endColorstr='#0d5c12', GradientType=0 );
}

input[type="submit"] {
	background: rgba(61,130,65,1);
	background: -moz-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,130,65,1)), color-stop(100%, rgba(10,76,15,1)));
	background: -webkit-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: -o-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	background: linear-gradient(to bottom, rgba(61,130,65,1) 0%, rgba(10,76,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8241', endColorstr='#0a4c0f', GradientType=0 );
}

input[type="submit"]:hover {
	background: rgba(72,153,76,1);
	background: -moz-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(72,153,76,1)), color-stop(100%, rgba(13,92,18,1)));
	background: -webkit-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: -o-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: -ms-linear-gradient(top, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	background: linear-gradient(to bottom, rgba(72,153,76,1) 0%, rgba(13,92,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48994c', endColorstr='#0d5c12', GradientType=0 );
}

#navigation ul li a {
	font-family: Corbel;
	padding: 15px 34px;
}

#navigation ul {
	background: white;
}

#after-menu-widget > div:nth-child(1) {
	float: left;
	background: rgba(61,130,65,1);
	background: -moz-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(9,75,14,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,130,65,1)), color-stop(100%, rgba(9,75,14,1)));
	background: -webkit-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(9,75,14,1) 100%);
	background: -o-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(9,75,14,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,130,65,1) 0%, rgba(9,75,14,1) 100%);
	background: linear-gradient(to bottom, rgba(61,130,65,1) 0%, rgba(9,75,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8241', endColorstr='#094b0e', GradientType=0 );
	text-align: center;
	width: 21.5%;
	height: 303px;
	border-radius: 15px 0px 0px 15px;
	-moz-border-radius: 15px 0px 0px 15px;
	-webkit-border-radius: 15px 0px 0px 15px;
}

#after-menu-widget > div:nth-child(1) .widget-title {
	color: #D9ECD6 !important;
}

#after-menu-widget > div:nth-child(2) {
	float: right;
	width: 78%;
}

#after-menu-widget {
	background: white;
	border: 5px solid white;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

#navigation ul {
	border: 0;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	box-shadow: none;
}

#navigation ul li {
	border: 0;
}

.line_in_header, .line_in_header_2 , .line_in_header_2_2 {
	height: 1px;
	background: #3D8241;
	width: 18%;
	float: left;
	margin-top: 13px;
}

.content_area_header, .content_area_header_2 {
	width: 63%;
	float: left;
}

.content_area_header_2 {
	width: 38%;
}

.line_in_header_2, .line_in_header_2_2 {
	width: 25%;
	margin-top: 38px;
}

.line_in_header_2_2 {
	width: 37%;
}

.widget-title {
	color: #3c823c !important;
	font-family: Candara;
	font-size: 23px;
	letter-spacing: 1px;
}

#widget-in-content-area .widget-title, #widget-in-content-area-2 .widget-title {
	font-size: 28px;
}

#gallery_enter img {
	border: 5px solid #d7edd6;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	max-width: 100%;
}

#ui-datepicker-div {
	z-index: 100 !important;
}

#huge_it_slideshow_left_2, #huge_it_slideshow_right_2 {
	display: none !important;
}

.huge_it_slideshow_image_wrap_2 {
	background: transparent !important;
}

#wrap {
	width: 100%;
}

#wrap > * {
	max-width: 1280px;
	margin: 0 auto;
	float: none;
	display: block;
}

#footer {
	max-width: 100%;
	width: 100%;
	background: url('../../../../wp-content/uploads/2015/02/background.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: scroll;
	padding: 0;
	border-top: 1px solid #ffffff;
}

#footermenu {
	margin: 0 auto;
	border-bottom: 1px solid white;
}

#footermenu ul {
	margin-top: 5px;
}

#footermenu ul li a {
	text-transform: uppercase;
	color: black;
	text-decoration: underline;
	font-size: 11px;
	margin: 0px 25px;
}

#footermenu ul li  span {
	display: none;
}

#footermenu ul li a:hover {
	text-decoration: none;
}

.inner_wrap_footer {
	max-width: 1280px;
	margin: 0 auto;
	display: block;
}

#widget-in-content-area-2 > div:nth-child(2), #widget-in-content-area-2 > div:nth-child(3), #widget-in-content-area-2 > div:nth-child(4), #widget-in-content-area-2 > div:nth-child(5) {
	float: left;
	text-align: center;
	margin: 0px 10px;
	max-width: 227px;
}

#widget-in-content-area-2 > div:nth-child(2) a:hover img, #widget-in-content-area-2 > div:nth-child(3) a:hover img, #widget-in-content-area-2 > div:nth-child(4) a:hover img, #widget-in-content-area-2 > div:nth-child(5) a:hover img {
	opacity: 0.9;
}

#widget-in-content-area-2 > div:nth-child(2) a:hover + div a, #widget-in-content-area-2 > div:nth-child(3) a:hover + div a, #widget-in-content-area-2 > div:nth-child(4) a:hover + div a, #widget-in-content-area-2 > div:nth-child(5) a:hover + div a {
	text-decoration: underline;
}

#widget-in-content-area-2 .widget_sp_image-description {
	margin-top: 10px;
}

#widget-in-content-area-2 a {
	color: black;
	text-decoration: none;
	font-size: 22px;
	font-family: Candara;
}

#widget-in-content-area-2 a:hover {
	text-decoration: underline;
}

.onvolga { 
	background: url('../images/onvolga_ico.png') no-repeat 0 50%;
	padding-left: 24px;
}

.onvolga a {
	color: black;
	text-decoration: none;
	font-size: 10px;
}

.onvolga a:hover {
	text-decoration: underline;
}

#credits {
	float: left;
	margin-bottom: 10px;
}

.scroll-back-to-top-wrapper {
	background-color: transparent;
	background: url('../images/top_scroller.png') no-repeat;
	height: 57px;
	width: 59px;
	transition: none;
}

.scroll-back-to-top-wrapper:hover {
	background-color: transparent;
	background: url('../images/top_scroller.png') no-repeat 0px -59px;
	transition: none;
}

#list_1 {
	width: 172px;
	height: 229px;
	background: url('../images/listik.png');
	position: absolute;
	right: -60px;
	top: -40px;
	z-index: -1;
}

#list_2 {
	width: 232px;
	height: 168px;
	background: url('../images/listik_2.png');
	position: absolute;
	left: -90px;
	bottom: -40px;
	z-index: -1;
}

.wrapper_slider_zone {
	position: relative;
	z-index: 1;
}

#div_date_in > input, #div_date_out > input {
	width: 70%;
	border-radius: 0px;
	border: 2px solid #135819;
}

#div_date_in, #div_date_out {
	margin-bottom: 8%;
}

#content, #sidebar {
	margin: 60px 0px 0px;
}

#sidebar {
	width: 23%;
}

#content {
	width: 77%;
}

#sidebar .widget_nav_menu a {
	border: 5px solid #D9ECD6;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	margin-bottom: 25px;
	background: url('../images/domik.png') no-repeat 5px 50%;
	padding: 17px 0px 17px 48px;
	font-family: Candara;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 20px;
	color: #3C8341;
	text-decoration: underline;
}

#sidebar .widget_nav_menu a:hover, #sidebar .widget_nav_menu .current_page_item a {
	text-decoration: none;
	background: url('../images/domik.png') no-repeat 5px 50% rgba(207, 224, 208, 0.3);
}

.huge_it_slideshow_dots_thumbnails_2 {
	bottom: 0;
	top: auto !important;
	height: 50px !important;
	left: 15px;
}

.huge_it_slideshow_dots_thumbnails_2 > div {
	float: left;
}

.huge_it_slideshow_dots_active_2 {
	width: 29px !important;
	height: 29px !important;
	background: url('../images/active_slide.png') 50% 50% no-repeat !important ;
	margin: 5px !important;
}

.huge_it_slideshow_dots_deactive_2 {
	width: 29px !important;
	height: 29px !important;
	background: url('../images/noactive_slide.png') 50% 50% no-repeat !important ;
	margin: 5px !important;
}

.recent-post-item .post-entry p {
	word-wrap: break-word;
}

.advanced-recent-posts-2 .recent-post-item {
	width: 45%;
	float: left;
	list-style: none;
}

.advanced-recent-posts-2 .recent-post-item:first-child {
	margin-right: 2.5%;
}

.advanced-recent-posts-2 .recent-post-item:last-child {
	margin-left: 2.5%;
}	

.advanced-recent-posts-2 {
	overflow: hidden;
}

.advanced-recent-posts-2 .recent-post-item a {
	text-transform: uppercase;
}

.advanced-recent-posts-2 .recent-post-item .more-link, .readmore_jk_skel a {
	font-weight: normal;
	border: 3px solid #D9ECD6;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	text-decoration: none;
	font-size: 14px;
	padding: 2px 20px;
	float: left;
	margin-top: 10px;
	color: #666666;
}

.advanced-recent-posts-2 .recent-post-item .more-link:hover, .readmore_jk_skel a:hover {
	background: rgba(207, 224, 208, 0.3);
	color: #666666;
}

.readmore_jk_skel a {
	float: none;
	padding: 6px 20px;
	text-transform: uppercase;
	color: #135517;
	/*font-size: 18px;*/
}

.readmore_jk_skel {
	text-align: center;
	margin-top: 15px;
}

.day_jk {
	font-family: Candara;
	color: #666666;
	font-size: 60px;
	line-height: 35px;
}

.month_year_jk {
	font-family: Candara;
	color: #666666;
	font-size: 18px;
}

#widget-in-content-area .recent-post-item .post-date {
	float: left;
}

#widget-in-content-area .recent-post-item .post-entry {
	margin-left: 75px;
	margin-top: 5px;
	color: #4c4c4c;
	font-size: 12px;
}

#widget-in-content-area .recent-post-item .post-entry p {
	line-height: 18px;
}

#widget-in-content-area .recent-post-item .post-title {
	margin-left: 13px;
	font-size: 14px;
}

#widget-in-content-area .recent-post-item .post-title:hover {
	color: #3D7D3A;
}

#widget-in-content-area-2 {
	margin-top: 20px;
}

#navigation .menu-header > ul > li:first-child > a {
	padding: 0;
	margin-left: 25px;
	margin-top: 3px;
}

#navigation .menu-header li:first-child a, #navigation .menu-header li:last-child a {
	background: white;
}

#navigation .menu-header a {
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: underline;
	color: #3D7D3A;
	font-family: Corbel;
	font-size: 18px;
	border: 0;
	background: url('../images/dots.png') right 50% no-repeat white;
}

#navigation .menu-header a:hover {
	background: url('../images/dots.png') right 50% no-repeat white;
	color: #3D7D3A;
	text-decoration: none;
	border: 0;
}

#navigation ul li:hover a {
	background: url('../images/dots.png') right 50% no-repeat white;
	color: #3D7D3A;
	text-decoration: none;
	border: 0;
}

#navigation ul li.active a  {
	background: url('../images/dots.png') right 50% no-repeat white;
	color: #336633;
	text-decoration: none;
	border: 0;
	font-weight: bold !important;
	padding: 15px 30px;
}

#navigation .menu-header > ul > li > ul > li > a {
	background: white;
	color: #336633;
	text-decoration: none;
	padding: 10px 20px;
}

#navigation .has_icon .text {
	display: none;
}

#all_dynamic_area {
	overflow: hidden;
	background: url('../images/vetka.png') left bottom no-repeat white;
	padding-bottom: 140px;
}

.inner_wrap_footer .one_third:first-child .textwidget {
	margin: 25px 0px;
}

.one_third {
	margin-bottom: 0;
}

.one_third .phone_header {
	text-align: center;
	margin: 35px 0px;
}

#after-menu-widget .widget-title {
	margin: 30px 0px;
}

.entry-title {
	color: #3c823c;
	font-weight: normal;
	font-family: Candara;
	font-size: 28px;
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
	word-break: break-word;
	line-height: 28px;
}

.type-post .entry-content > .cottedge:not(.wrapper_foogool_jk) {
	text-indent: 30px;
	text-align: justify;
	font-size: 15px;
	float: left;
	width: 52%;
}

#content #post_jk_container .post.hentry {
	width: 31.3%;
	float: left;
	padding: 1%;
}

#post_jk_container {
	overflow: hidden;
}

.entry-summary p {
	margin: 0px;
}

.entry-summary {
	padding-bottom: 5px;
	border-bottom: 1px solid #135517;
}

.thumbnail_container {
	text-align: center;
}

.entry-summary {
	font-size: 14px;
	line-height: 20px;
}

.entry-utility {
	border: 0;
	margin: 0;
	padding: 0;
}

#post_jk_container .entry-title {
	text-align: center;
}

.row_in_posts {
	overflow: hidden;
}

.owl-carousel {
	float: left;
	width: 40%;
}

.DOPBSPCalendar-wrapper {
	width: 100% !important;
	float: left;
}

.entry-content > p > img:first-child {
	display: none;
}

.owl-dots {
	display: none !important;
}

.foogallery-owl-carousel.border-style-square-white a, .foogallery-owl-carousel.foogallery-lightbox-none.border-style-square-white .foo-item {
	border: 0 !important;
	box-shadow: none !important;
}

.wrapper_foogool_jk {
	width: 44%;
	float: right;
}

.owl-prev {
	position: absolute;
	left: 0;
}

.owl-next {
	position: absolute;
	right: 0;
}

.owl-controls {
	position: absolute;
	width: 100%;
	top: 10%;
}

.owl-stage-outer {
	margin: 0 auto;
	width: 85%;
}

.owl-theme .owl-controls .owl-nav .owl-prev {
	color: transparent !important;
	background: url('../images/left_arrow.png') no-repeat 50% 50% !important ;
	margin: 5px 0px !important;
	padding: 4px 0px !important;
}

.owl-theme .owl-controls .owl-nav .owl-next {
	color: transparent !important;
	background: url('../images/right_arrow.png') no-repeat 50% 50% !important;
	margin: 5px 0px !important;
	padding: 4px 0px !important;
}

.DOPBSPCalendar-navigation, .DOPBSPCalendar-month, .DOPBSPCalendar-sidebar .dopbsp-module, .DOPBSPSearch-content, .DOPBSPSearch-sidebar {
	background-color: #DBEEDA !important;
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_template_tag_ui {
	display: none;
}

.DOPBSPCalendar-info-message.dopbsp-error {
	width: 97%;
	float: left;
}

.DOPBSPSearch-sort > p, .DOPBSPSearch-sort {
	width: 100%;
}

.DOPBSPSearch-sort > p, .DOPBSPSearch-sort + p {
	margin: 0 !important;
}

.DOPSelect.dopselect-single.dopbsp-small {
	margin: 0;
	width: 100% !important;
}

.dopbsp-asc, .dopbsp-desc {
	margin: 0 0 0 10px !important;
}

.dopbsp-no-data {
	color: #666 !important;
	padding-left: 20px;
}

.dopbsp-module.dopbsp-price {
	display: none;
}



/* Media */
@media(max-width: 1200px) {
	.line_in_header, .line_in_header_2, .line_in_header_2_2 {
		opacity: 0;
	}
}

@media(max-width: 800px) {
	.top-widget-jk-left, .top-widget-jk-right, .center-no-widget {
		width: 100%;
	}
	
	.top-widget-jk-left > div, .top-widget-jk-right > div {
		margin: 20px 0px;
		overflow: hidden;
	}
	
	.content_area_header_2 {
		width: 50%;
	}
	
	.line_in_header_2_2 {
		width: 25%;
	}
	
	#navigation .menu-header a, #navigation .menu-header a:hover, #navigation ul.sub-menu li  a, #navigation ul.sub-menu li  a:hover {
		background: transparent !important;
		text-align: center;
		padding: 10px 0px !important;
		width: 100%;
		margin: 0;
	}
	
	#navigation .menu-header > ul > li:first-child > a {
		margin-left: 0;
	}
	
	#navigation ul.sub-menu li {
		width: 100%;
	}
	
	#after-menu-widget > div:first-child {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	
	#after-menu-widget > div:nth-child(2) {
		width: 100%;
		border-radius: 10px;
	}
	
	#div_date_in, #div_date_out {
		margin-bottom: 4%;
	}
	
	#sidebar, #content {
		width: 100%;
	}
	
	#sidebar {
		text-align: center;
	}
	
	.gsInformer {
		margin: 0 auto;
	}
	
	body.sidebar-left #wrap #sidebar .widget-container {
		margin: 0px 20px;
	}
	
	.inner_wrap_footer .one_third {
		text-align: center;
	}
	
	.inner_wrap_footer .one_third.last > div > div > div {
		text-align: center !important;
	}
}

@media(max-width: 400px) {
	#post_jk_container .row_in_posts .post {
		width: 98% !important;
	}
}

@media(max-width: 1070px) {
	#after-menu-widget > div:nth-child(1) .widget-title {
		font-size: 16px;
		margin: 15px 0px;
	}
}

.gsInformer {
	max-width: 100%;
}

#content h1 {
	color: #3d7d3a;
	font-weight: normal;
}

#content .entry-content p {
	text-indent: 40px;
}